.header-left-image {
    height: 90px;
    margin-top: 10px
}

.header-center-image {
    width: 90%;
    height: auto;
    margin-top: 20px
}

.header-right-image {
    height: 90px;
    margin-top: 10px
}

.h-25px {
    height: 25px !important
}

.mt-5px {
    margin-top: 5px !important
}

.dropdown-menu {
    top: 90% !important
}

.h-55px {
    height: 55px !important
}

.h-80px {
    height: 80px !important
}

.bg-black {
    background-color: #000 !important
}

.pt-15px {
    padding-top: 15px !important
}

.pb-15px {
    padding-bottom: 15px !important
}

.blinking {
    animation: blinkingText 2s infinite
}

.plr-50px {
    padding-left: 50px !important;
    padding-right: 50px !important
}

@keyframes blinkingText {
    0% {
        color: #ff7c00
    }
    49% {
        color: #ff7c00
    }
    50% {
        color: #ff7c00
    }
    99% {
        color: #3d7523
    }
    100% {
        color: #3d7523
    }
}

.navbar {
    padding: 1.2rem 1.5rem !important
}

.fs-15px {
    font-size: 15px !important
}

.mb-04r {
    margin-bottom: .4rem !important
}

.mt-20px {
    margin-top: 20px
}

.mb-20px {
    margin-bottom: 20px
}

#formM .form-group {
    margin-bottom: 1.4rem !important
}

.btn-file {
    position: relative;
    overflow: hidden
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #ff8f0a
}

.navbar-light .navbar-nav .nav-link {
    color: #373435;
    font-weight: 700 !important;
    padding: 8px 22px !important;
    font-size: medium !important
}

.procedure-circle {
    width: 130px !important;
    height: 130px !important;
    border-radius: 50% !important
}

.uppercase {
    text-transform: uppercase !important
}

.mt-16px {
    margin-top: 16px !important
}

.ml-9px {
    margin-left: 9px !important
}

.ml-25p {
    margin-left: 25% !important
}

.fs-14 {
    font-size: 14px !important
}

.fs-15 {
    font-size: 15px !important
}

input {
    height: 30px !important
}

select {
    height: 30px !important;
    padding: 0 5px !important
}

.height-unset {
    height: unset !important
}

.form-group {
    margin-bottom: .5rem
}

.bg-light-yellow {
    background-color: #efeaaf70 !important
}

.menu-color-green {
    color: #050567 !important
}

.sticky {
    position: absolute: !important;
    top: 0;
    width: 100%
}

.header {
    z-index: 1;
    background-color: #fff
}

.ptb-1rem {
    padding-top: 0 !important;
    padding-bottom: .2rem !important
}

.pb-1rem {
    padding-bottom: 1rem !important
}

.mt-10px {
    margin-top: 10px !important
}

.pl-10px {
    padding-left: 10px !important
}

.bg-color-green {
    background-color: #2a2876 !important
}

.w-100p {
    width: 100% !important
}

.w-60p {
    width: 60% !important
}

.w-40p {
    width: 40% !important
}

.mb-0 {
    margin-bottom: 0 !important
}

.fw-700 {
    font-weight: 700 !important
}

.fs-24 {
    font-size: 24px !important
}

.fs-20 {
    font-size: 20px !important
}

.fs-13px {
    font-size: 13px
}

.pt-0 {
    padding-top: 0 !important
}

.mb-10px {
    margin-bottom: 10px !important
}

.mb-20px {
    margin-bottom: 20px !important
}

.plr-15rem {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important
}

.plr-0px {
    padding-left: 0 !important;
    padding-right: 0 !important
}

.plr-5px {
    padding-left: 5px !important;
    padding-right: 5px !important
}

.btn-orange {
    background-color: #ff7c00;
    border-color: #ff7c00
}

.mt-5px {
    margin-top: 5px !important
}

.mt-0px {
    margin-top: 0 !important
}

.ml-0px {
    margin-left: 0 !important
}

.radio-label {
    margin-left: 22px;
    margin-top: 1px
}

.h-42px {
    height: 42px !important
}

.h-200px {
    height: 200px !important
}

.h-39px {
    height: 39px !important
}

.pb-10px {
    padding-bottom: 10px !important
}

.p-40px {
    padding: 40px !important
}

.p-20px {
    padding: 20px !important
}

.p-10px {
    padding: 10px !important
}

.pt-5px {
    padding-top: 5px !important
}

.mt-20px {
    margin-top: 20px !important
}

.mt-10px {
    margin-top: 10px !important
}

.mt-5px {
    margin-top: 5px !important
}

.mt--6px {
    margin-top: -6px !important
}

.mb-5px {
    margin-bottom: 5px !important
}

.p-01rem {
    padding: 0 1rem !important
}

.razorpay-payment-button {
    display: none !important
}

.bg-gray {
    background-color: #c7c7c7 !important
}

.bg-white {
    background-color: #fff !important
}

.bg-light-gray {
    background-color: #f3f3f3 !important
}

.small-blue-circle {
    background-color: #1c3155 !important;
    border-radius: 100%
}

.ptxb-0505 {
    padding: 0 5px !important
}

.text-blue {
    color: #1c3155 !important
}

.select-form {
    height: 24px !important
}

.my-form-label {
    padding-top: calc(.375rem + 0px) !important;
    padding-bottom:  !important;
    margin-bottom: 0 !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    font-weight: 500 !important
}

.dn {
    display: none
}

.pt-7px {
    padding-top: 7px
}

.pb-22px {
    padding-bottom: 22px !important
}

.pt-22px {
    padding-top: 22px !important
}

.btn-razorpay {
    background-color: #1c62c3 !important;
    border-color: #1c62c3 !important
}

.btn-paytm {
    background-color: #00b9f5 !important;
    border-color: #00b9f5 !important
}

.box-shadow {
    -webkit-box-shadow: 0 0 5px 1px rgba(59, 59, 59, .66);
    -moz-box-shadow: 0 0 5px 1px rgba(59, 59, 59, .66);
    box-shadow: 0 0 5px 1px rgba(59, 59, 59, .66)
}

.box-shadow-form {
    -webkit-box-shadow: 0 0 5px 1px rgba(59, 59, 59, .66);
    -moz-box-shadow: 0 0 5px 1px rgba(59, 59, 59, .66);
    box-shadow: 0 0 5px 1px rgba(59, 59, 59, .22)
}

.border-top-blue {
    border-top: 2px solid #007eff
}

.border-top-oy {
    border-top: 2px solid #ffb100
}

.bradius-5px {
    border-radius: 5px
}

.text-orange {
    color: #373435 !important
}

.td-none {
    text-decoration: none !important
}

.mrl-0px {
    margin-left: 0 !important;
    margin-right: 0 !important
}

.bg-color-orange {
    background-color: #000 !important
}

.foot-bottom {
    width: 100% !important
}

.text-justify {
    text-align: justify !important
}

.f-left {
    float: left !important
}

.f-right {
    float: right !important
}

.razorpay-payment-button {
    display: none !important
}

.hr {
    width: 60px;
    margin-top: 0;
    margin-bottom: 12px;
    background-color: #ff851b;
    border-top: 2px solid #ff851b
}

.h-32px {
    height: 32px !important
}

form>.bg-gray {
    font-weight: 700 !important
}

.dropdown:hover>.dropdown-menu {
    display: block
}

.nav-item,
.dropdown-item {
    font-weight: 700 !important
}

.fs-700 {
    font-weight: 700 !important
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0
}

.dropdown-item {
    padding: 0 .8rem !important
}

.dropdown-divider {
    margin: .4rem 0 !important
}

@media only screen and (max-width:640px) and (min-width:360px) {
    .logo-hide-mobi {
        display: none
    }
}

@media only screen and (max-width:812px) and (min-width:375px) {
    .logo-hide-mobi {
        display: none
    }
}

@media only screen and (max-width:568px) and (min-width:320px) {
    .header-center-image {
        height: 85px;
        width: 360px
    }
}

@media only screen and (max-width:731px) and (min-width:411px) {
    .header-center-image {
        display: none
    }
}

@media only screen and (max-width:1024px) and (min-width:768px) {
    .header-left-image {
        width: 215px
    }
}

@media only screen and (max-width:640px) and (min-width:360px) {
    .header-left-image {
        display: none
    }
}

@media only screen and (max-width:640px) and (min-width:360px) {
    .header-right-image {
        height: 50px
    }
}

.marquee-bg {
    background-color: green;
    color: #fff !important
}

.hd-size>h1 {
    font-size: 25px
}

.text-orng {
    color: #ff8923 !important
}

.text-right {
    color: #fff
}